<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Vocabulary application for Android and Bada" >
<meta name="keywords" content="Android, Bada, Slovníček, slovník, slovíčka Česko - Anglický, slovíčka Česko - Německá, slovíčka Česko - Francouzská, slovíčka Česko - Španělská, slovíčka Česko - Italská, slovíčka Česko - Polská, slovíčka Česko - Portugalská. French - English Vocabulary, English - Czech Vocabulary, English - French Vocabulary, English - Spanish Vocabulary, English - Italian Vocabulary, English - Polish Vocabulary, English - Portuguese Vocabulary. Français - Anglais Dictionnaire, Français - tchèque Dictionnaire, Allemagne - françai Dictionnaire , français - espagnol Dictionnaire, français - italien Dictionnaire, français - polonais Dictionnaire, français - portugais Dictionnaire. Deutschland - Englisch Wörterbuch, Deutschland - Tschechische Wörterbuch, Deutschland - Französisch Wörterbuch, Deutschland - Spanish Wörterbuch, Deutschland - Italienische Wörterbuch, Deutschland - Polnisch Wörterbuch, Deutschland - Portugiesisch Wörterbuch." >
<meta name="author" content="Milan Medlik">
<meta name="ROBOTS" content="index, follow">
<link href="style/main.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.min.js"></script>
<title>Voc4u</title>
</head>

<body>
	<div id="header">
		<div class="sidebar">
			<div class="sidebar-content">Maybe you are lot of time thinking about changing your personal life. Maybe you spend lot of time thinking about question how to learn new language. Now we have answer to all your questions! The answer is...</div>
		</div>
		<div class="content">
			<div class="main-content">
				<div id="markets">
					<div id="androidmarket">
						<a href="https://market.android.com/details?id=com.voc4u"
							alt="voc4u on android market"> <img
							src="img/bg_android_market.gif" /></a>
					</div>

					<div id="samsungmarket">
						<a
							href="http://www.samsungapps.com/topApps/topAppsDetail.as?productId=G00003790767"
							alt="voc4u on samsung market"><img
							src="http://img.samsungapps.com/marketing/common/images/logo_on.gif" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="top">
		<div class="sidebar">
			<div class="sidebar-content">
				<h1>Voc4u</h1>
			</div>
		</div>
		<div class="content">
			<div class="main-content">
				<h1>Improve your other language!</h1>

			</div>
		</div>
	</div>
	<div class="sidebar">
		<div class="sidebar-content">
			<div id="goup20">

				<h2>step #1</h2>
				<p>Download and install our app Voc4u to your smartphone. In
					first run select language which you want learn.
				<h2>step #2</h2>
				<p>You can train when you use button "know" and "don't know".
					Words which you mark as don't know will be show more fruequently
					and words marks as "know" once time will dissapeare.
				<h2>step #3</h2>
				<p>Train in the bus stop, train in the tram, train before you go
					to bet, train when you boring. Trust us, 15mins of day is enought!







				
			</div>
		</div>
	</div>
	<div class="content">
		<div class="main-content">
			<div>
				<img class="screen"
					src="https://lh4.ggpht.com/IgIqXvCZQL-KXj4jxM43eIaOyXdghuFVfQREExVjIPX1t95A50LC18XtLLh2zOGUuw=h230" />
				<img class="screen"
					src="https://lh3.ggpht.com/Oq3vZD4izcTrc5m3R27GMWKUct3l_BgHhJyXFAVKr-4b6DCKvvz70kksKEwvBlqtHyQF=h230" />
				<img class="screen"
					src="https://lh5.ggpht.com/OD2a5UXbdZt9fX9x4yhQGOazeum1Gl0a1NGU-59VzM5Mxrh2pFh580tnyFSqmJa2a_w=h230" />
				<img class="screen"
					src="https://lh4.ggpht.com/eSxpJxjH3N3-eUuh2Z7h6dzAU5-LUroWjh-9E4fpit4RLGIKIX025PRjzPT-W5OO8385=h230" />
			</div>
			<div>
				<img class="screen"
					src="http://img.samsungapps.com/product/2011/1211/000000263712/IconImage_20111211201522680_NEW_WEB_SHOT1_HALF.png" />
				<img class="screen"
					src="http://img.samsungapps.com/product/2011/1211/000000263712/IconImage_20111211201522680_NEW_WEB_SHOT2_HALF.png" />
				<img class="screen"
					src="http://img.samsungapps.com/product/2011/1211/000000263712/IconImage_20111211201522680_NEW_WEB_SHOT3_HALF.png" />
				<img class="screen"
					src="http://img.samsungapps.com/product/2011/1211/000000263712/IconImage_20111211201522680_NEW_WEB_SHOT4_HALF.png" />
			</div>
		</div>
	</div>
	<div id="separator">
		<div class="sidebar">
			<div class="sidebar-content"></div>
		</div>
		<div class="content">
			<div class="main-content"></div>
		</div>
	</div>

	<div id="header">
		<div class="sidebar">
			<div class="sidebar-content">
				<div>
					<a href="http://cz.linkedin.com/pub/milan-medlik/2a/b0a/41"> <img
						src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png"
						width="160" height="33" border="0"
						alt="View milan  medlik's profile on LinkedIn">
					</a>
				</div>
				<div>
					<a href="https://twitter.com/m1uan" class="twitter-follow-button"
						data-show-count="false" data-size="large">Follow @m1uan</a>
					<script>
						!function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = "//platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs);
							}
						}(document, "script", "twitter-wjs");
					</script>
				</div>
				<div>
					<a href="https://github.com/m1uan/voc4u">github::voc4u</a>
				</div>
				<div>
					<a href="https://github.com/m1uan/voc4u_bada">github::voc4u_bada</a>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="main-content">

				
				<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					
				</script>
			</div>
		</div>
	</div>
</body>


</html>