<img src="img/bg_index.gif" alt="background image" id="bg" />
<div id="content_99">
<div id="right_frame">
<div id="right_content">

<div id="learn_andvertisment">
<img id="jan_amos_komensky" alt="Jan Amos Komensky" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Johan_amos_comenius_1592-1671.jpg"/>
<div >
<a href="index.html">[about]</a>
<a href="howisworks.html">[how it's works]</a>
<a href="vocabulary.html">[vocabulary]</a>
<a href="https://market.android.com/details?id=com.voc4u" alt="voc4u on android market">[android]</a>
<a href="http://www.samsungapps.com/topApps/topAppsDetail.as?productId=G00003790767" alt="voc4u on samsung market">[samsung]</a>
</div>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_Czech_Republic.svg/800px-Flag_of_the_Czech_Republic.svg.png"/>učit se česky</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/800px-Flag_of_the_United_Kingdom.svg.png"/>learn english</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"/>d'apprendre le français</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/800px-Flag_of_Russia.svg.png"/>выучить русский язык</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/800px-Flag_of_Germany.svg.png"/>Deutsch zu lernen</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Flag_of_Poland.svg/800px-Flag_of_Poland.svg.png"/>uczyć się języka polskiego</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/600px-Flag_of_Portugal.svg.png"/>para aprender Português</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/800px-Flag_of_Norway.svg.png"/>å lære norsk</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/b/b1/Flag_of_the_Spain_Under_Franco.png"/>para aprender español</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/800px-Flag_of_the_People%27s_Republic_of_China.svg.png"/>學習漢語</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/800px-Flag_of_South_Korea.svg.png"/>한국어 배우는</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/800px-Flag_of_Turkey.svg.png"/>Türkçe öğrenmek</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/800px-Flag_of_Italy.svg.png"/>imparare l'italiano</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_India.svg/800px-Flag_of_India.svg.png"/>हिन्दी सीखना</span>
<span><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/750px-Flag_of_Saudi_Arabia.svg.png"/>لتعلم اللغة العربية</span>


</div>

<div class="black_row" id="IMPROVEULANG">

Improve your other languages!
</div>
<div id="content">
</div>
</div>
</div>

<!--  LEFT PART -->
<div id="left_frame">
<div id="left_content">

<div id="sidebar-content">
Maybe you are lot of time thinking about changing your personal life. Maybe you spend lot of time thinking about question how to learn new language. Now we have answer to all your questions! The answer is...
</div>
<div class="black_row" id="VOC4U">
voc4u
</div>
<div id="goup20">

				<h2>step #1</h2>
				<p>Download and install our app Voc4u to your smartphone. In
					first run select language which you want learn.
				<h2>step #2</h2>
				<p>You can train when you use button "know" and "don't know".
					Words which you mark as don't know will be show more fruequently
					and words marks as "know" once time will dissapeare.
				<h2>step #3</h2>
				<p>Train in the bus stop, train in the tram, train before you go
					to bet, train when you boring. Trust us, 15mins of day is enought!
			</div>
</div>

</div>
</div>